.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999 !important;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px;
}

.customer-item {
    padding: 5px;
}

.customer-autocomplete-container {
    display: flex;
    gap: 10px;
}

.customer-autocomplete-container input {
    flex-grow: 1;
}

.cellProductLineStatus {
    min-width: 150px;
}

.order-line-status-select {
    max-width: 140px;
    margin: 0 auto;
}

.order-line-status-select option {
    color: white;
    font-weight: bold;
    padding: 3px;
}